Repository ZCHAnalytics/resume-azuredevops-backend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-backend.yml, azure-pipeline-function-deploy.yml

Path conditions:
  azure-pipeline-backend.yml: any of: iaac, azure-pipeline-backend.yml
  azure-pipeline-function-deploy.yml: any of: backend, azure-pipelines-function-deploy.yml

Adding missing subscription in two tasks
  azure-pipeline-backend.yml
Due: azure-pipeline-backend.yml

Adding backend Arm
  azure-pipeline-backend.yml
Due: azure-pipeline-backend.yml

Initial commit
  .gitignore
  azure-pipeline-backend.yml
  iaac/.terraform.lock.hcl
  iaac/terraform.tfvars
Due: azure-pipeline-backend.yml

Added new sp connections
  azure-pipeline-backend.yml
Due: azure-pipeline-backend.yml

CHanged bash script to powershell for summary file
  azure-pipeline-backend.yml
Due: azure-pipeline-backend.yml

Added debug for tfplan path
  azure-pipeline-backend.yml
Due: azure-pipeline-backend.yml

Added powershel debug for tfplan path
  azure-pipeline-backend.yml
Due: azure-pipeline-backend.yml

First run of the function deploy
  azure-pipeline-function-deploy.yml
  backend/function_app.py
  backend/tests/auth_tests.py
Due: azure-pipeline-function-deploy.yml

First run of the function deploy
  azure-pipeline-function-deploy.yml
Due: none

Replaced bash scripts with powershell for local agent
  azure-pipeline-function-deploy.yml
Due: none

Corrected type in path
  azure-pipeline-function-deploy.yml
Due: none

Removed duplicate semicolon
  azure-pipeline-function-deploy.yml
Due: none

Replaced chocotley install with download
  azure-pipeline-function-deploy.yml
Due: none

Removed azure core tool isntall as it preinstalled on local agent
  azure-pipeline-function-deploy.yml
Due: none

Corrected name of function app
  azure-pipeline-function-deploy.yml
Due: none

Corrected path to host.json in backend
  azure-pipeline-function-deploy.yml
  backend/dev-requirements.txt
  backend/requirements.txt
Due: azure-pipeline-function-deploy.yml

Checks if pytests are avaialble
  azure-pipeline-function-deploy.yml
Due: none

Add SBON and Grype
  azure-pipeline-function-deploy.yml
Due: none

Remove redundant Github token
  azure-pipeline-function-deploy.yml
Due: none

Remove redundant secrets masking
  azure-pipeline-function-deploy.yml
Due: none

Add powershell commands for SBOM and GRYPE
  azure-pipeline-function-deploy.yml
Due: none

Moved Syft and Grype to different file
  azure-pipeline-function-deploy.yml
  sbom.json
Due: none

Removed old workflows
  .gitignore
Due: none

Last commit
  azure-pipeline-backend.yml
Due: azure-pipeline-backend.yml

Restructured repo to add frontedn folder
  azure-pipeline-backend.yml
  azure-pipeline-function-deploy.yml
  azure-pipelines/backend-function.yml
  azure-pipelines/backend-infrastructure.yml
  azure-pipelines/front-end-secret-scan.yml
  azure-pipelines/frontend-codeql.yml
  azure-pipelines/frontend-cypress-tests.yml
  azure-pipelines/frontend-infrastructure.yml
  azure-pipelines/frontend-web-deploy.yml
  backend/iaac/main.tf
  backend/iaac/outputs.tf
  backend/iaac/terraform.tfvars
  backend/iaac/variables.tf
  backend/sbom.json
  frontend/iaac/.terraform.lock.hcl
  frontend/iaac/main.tf
  frontend/iaac/outputs.tf
  frontend/iaac/terraform.tfvars
  frontend/iaac/variables.tf
  frontend/index.html
  frontend/styles.css
  frontend/visitor-counter.js
Due: azure-pipeline-backend.yml, azure-pipeline-function-deploy.yml

Restructured repo to add frontedn folder
  backend/iaac/.terraform.lock.hcl
Due: azure-pipeline-function-deploy.yml

Check existing files in working directory
  azure-pipelines/backend-function.yml
  azure-pipelines/backend-infrastructure.yml
Due: none

Check existing files in working directory
  azure-pipelines/backend-infrastructure.yml
Due: none

Add missing backedn azurerm block in main tf
  backend/iaac/main.tf
Due: azure-pipeline-function-deploy.yml

Checking tf commands
  azure-pipelines/backend-infrastructure.yml
Due: none

Correcting ps command to include flags
  azure-pipelines/backend-infrastructure.yml
Due: none

Troubleshotting remote state
  azure-pipelines/backend-infrastructure.yml
  backend/function_app.py
  backend/iaac/terraform.tfvars
Due: azure-pipeline-function-deploy.yml

Added new tf state variables
  azure-pipelines/backend-infrastructure.yml
Due: none

Redirect stderr
  azure-pipelines/backend-infrastructure.yml
Due: none
