Repository ZCHAnalytics/resume-azuredevops-backend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-backend.yml, azure-pipeline-function-deploy.yml, azure-pipelines/backend-function.yml, azure-pipelines/backend-infrastructure.yml, azure-pipelines/frontend-infrastructure.yml, azure-pipelines/frontend-web-deploy.yml

azure-pipeline-backend.yml:
  name: backend-infrastructure
  pool:
    name: Default
  stages:
  - stage: PlanBackendInfra
    displayName: Plan Backend Infrastructure
    jobs:
    - job: TerraformPlan
      displayName: Terraform Plan
      pool:
        name: Default
      steps:
      - checkout: self
      - task: AzureCLI@2
        inputs:
  ...

azure-pipeline-function-deploy.yml:
  name: backend-function-deploy
  pool:
    name: Default
  jobs:
  - job: deploy_function
    displayName: Deploy Backend Function
    pool:
      name: Default
    steps:
    - checkout: self
    - powershell: 'Write-Host "Downloading and installing Syft..."
  
  
  ...

azure-pipelines/backend-function.yml:
  name: backend-function-deploy
  pool:
    name: Default
  jobs:
  - job: deploy_function
    displayName: Deploy Backend Function
    pool:
      name: Default
    steps:
    - checkout: self
    - task: AzureCLI@2
      inputs:
        azureSubscription: ubds-sp-connection
        scriptType: ps
  ...

azure-pipelines/backend-infrastructure.yml:
  name: backend-infrastructure
  pool:
    name: Default
  stages:
  - stage: PlanBackendInfra
    displayName: Plan Backend Infrastructure
    jobs:
    - job: TerraformPlan
      displayName: Terraform Plan
      pool:
        name: Default
      steps:
      - checkout: self
      - task: PowerShell@2
  ...

azure-pipelines/frontend-infrastructure.yml:
  name: frontend-infrastructure
  pool:
    name: Default
  stages:
  - stage: PlanFrontendInfra
    displayName: Plan Frontend Infrastructure
    jobs:
    - job: TerraformPlan
      displayName: Terraform Plan
      pool:
        name: Default
      steps:
      - checkout: self
      - task: PowerShell@2
  ...

azure-pipelines/frontend-web-deploy.yml:
  name: deploy-frontend-files
  pool:
    name: Default
  jobs:
  - job: deploy_web_files
    displayName: Deploy Web Files
    pool:
      name: Default
    steps:
    - checkout: self
    - task: AzureCLI@2
      inputs:
        azureSubscription: ubds-sp-connection
        scriptType: ps
        scriptLocation: inlineScript
  ...

Added security scanning
  azure-pipelines/frontend-web-deploy.yml
Due: azure-pipelines/frontend-web-deploy.yml

Changed sbom json to cyclonedx-json
  azure-pipelines/frontend-web-deploy.yml
Due: azure-pipelines/frontend-web-deploy.yml

Changed slashe type in pathtopublish
  azure-pipelines/frontend-cypress-tests.yml
  azure-pipelines/frontend-web-deploy.yml
Due: azure-pipelines/frontend-web-deploy.yml

Changed slashe type in pathtopublish
  azure-pipelines/frontend-web-deploy.yml
Due: azure-pipelines/frontend-web-deploy.yml

Added fodler name to sbom json path
  azure-pipelines/frontend-web-deploy.yml
Due: azure-pipelines/frontend-web-deploy.yml

Added sbom path with Azure devops pipeline variable
  azure-pipelines/frontend-web-deploy.yml
Due: azure-pipelines/frontend-web-deploy.yml

Added sbom path with Azure devops pipeline variable
  test.txt
Due: none

Uploading web files after test manual upload
  azure-pipelines/frontend-web-deploy.yml
Due: azure-pipelines/frontend-web-deploy.yml

Added cdn profile name to tf files
  .gitignore
  azure-pipelines/frontend-web-deploy.yml
  cypress.config.js
  cypress/e2e/terraform.cy.js
  cypress/support/commands.js
  cypress/support/e2e.js
  frontend/iaac/main.tf
  frontend/iaac/terraform.tfvars
  frontend/iaac/variables.tf
  package.json
  test.txt
Due: azure-pipelines/frontend-infrastructure.yml, azure-pipelines/frontend-web-deploy.yml

Added cdn profile name to tf files
  azure-pipelines/frontend-web-deploy.yml
  frontend/index.html
Due: azure-pipelines/frontend-web-deploy.yml

Added cdn profile name variable
  azure-pipelines/frontend-web-deploy.yml
Due: azure-pipelines/frontend-web-deploy.yml

Excluded tf files from uploading
  azure-pipelines/frontend-web-deploy.yml
  frontend/index.html
Due: azure-pipelines/frontend-web-deploy.yml

Added security steps to function deployment
  azure-pipelines/backend-function.yml
Due: azure-pipelines/backend-function.yml

Add cypress tests
  azure-pipelines/frontend-cypress-tests.yml
  cypress.config.js
  cypress/e2e/terraform.cy.js
  package.json
Due: none

Add cypress tests
  azure-pipelines/frontend-cypress-tests.yml
Due: none

Finish Readme.md
  README.md
  azure-pipelines/front-end-secret-scan.yml
  azure-pipelines/frontend-codeql.yml
  backend/tests/auth_tests.py
Due: azure-pipeline-function-deploy.yml

Correct paths in cypress
  azure-pipelines/frontend-cypress-tests.yml
  frontend/index.html
  frontend/styles.css
Due: none

Correct paths in cypress
  README.md
  azure-pipelines/frontend-cypress-tests.yml
Due: none

Updated index html
  azure-pipelines/frontend-web-deploy.yml
Due: azure-pipelines/frontend-web-deploy.yml

Updated index html
  azure-pipelines/frontend-cypress-tests.yml
Due: none

Updated index html
  frontend/index.html
Due: none

Updated npm install script
  azure-pipelines/frontend-cypress-tests.yml
Due: none

Path conditions:
  azure-pipeline-backend.yml: any of: iaac, azure-pipeline-backend.yml
  azure-pipeline-function-deploy.yml: any of: backend, azure-pipeline-function-deploy.yml
  azure-pipelines/backend-function.yml: any of: backend/iaac, azure-pipelines/backend-function.yml
  azure-pipelines/backend-infrastructure.yml: any of: backend/iaac, azure-pipelines/backend-infrastructure.yml
  azure-pipelines/frontend-infrastructure.yml: any of: frontend/iaac, azure-pipelines/frontend-infrastructure.yml
  azure-pipelines/frontend-web-deploy.yml: any of: frontend/iaac, azure-pipelines/frontend-web-deploy.yml
