Repository ZCHAnalytics/resume-azuredevops-backend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-backend.yml, azure-pipeline-function-deploy.yml, azure-pipelines/backend-infrastructure.yml

Path conditions:
  azure-pipeline-backend.yml: any of: iaac, azure-pipeline-backend.yml
  azure-pipeline-function-deploy.yml: any of: backend, azure-pipeline-function-deploy.yml
  azure-pipelines/backend-infrastructure.yml: any of: backend/iaac, azure-pipelines/backend-infrastructure.yml

Changed Task40 to Tsk 44
  azure-pipelines/backend-infrastructure.yml
Due: azure-pipelines/backend-infrastructure.yml

Adding debug to terraform init
  azure-pipelines/backend-infrastructure.yml
Due: azure-pipelines/backend-infrastructure.yml

Removed emojis from ps commands
  azure-pipelines/backend-infrastructure.yml
Due: azure-pipelines/backend-infrastructure.yml

Add storage blob data contributor role to sp
  azure-pipelines/backend-function.yml
  azure-pipelines/backend-infrastructure.yml
Due: azure-pipelines/backend-infrastructure.yml

Add function deploy pipeline
  azure-pipelines/backend-function.yml
Due: none

Add function deploy pipeline with separate tf state key
  azure-pipelines/frontend-infrastructure.yml
  frontend/iaac/main.tf
  frontend/iaac/terraform.tfvars
  frontend/index.html
  frontend/styles.css
  frontend/visitor-counter.js
Due: none

Add function deploy pipeline with separate tf state key
  azure-pipelines/frontend-infrastructure.yml
Due: none

Add function deploy pipeline with separate tf state key and removed push
  azure-pipelines/frontend-infrastructure.yml
Due: none

Remove the rg creation in fronend deploy
  azure-pipelines/backend-infrastructure.yml
  azure-pipelines/frontend-infrastructure.yml
  frontend/iaac/main.tf
Due: azure-pipelines/backend-infrastructure.yml

Add data var in main tf
  frontend/iaac/main.tf
Due: none

Changed bash to os
  azure-pipelines/frontend-web-deploy.yml
Due: none

Changed bash to ps and corrected indentation for trigger
  azure-pipelines/frontend-web-deploy.yml
Due: none

Changed paths for ps commands
  azure-pipelines/frontend-web-deploy.yml
Due: none

Enclosed terraform commands in backticks
  azure-pipelines/frontend-web-deploy.yml
Due: none

Added correct tf state varialbes
  azure-pipelines/frontend-web-deploy.yml
  backend/iaac/main.tf
Due: azure-pipeline-function-deploy.yml, azure-pipelines/backend-infrastructure.yml

Added frontend infra resources
  azure-pipelines/frontend-web-deploy.yml
Due: none

Set trigger to none
  azure-pipelines/frontend-web-deploy.yml
Due: none

Added separate triggers
  azure-pipelines/frontend-web-deploy.yml
Due: none

Remove pipeline resource
  azure-pipelines/frontend-web-deploy.yml
Due: none

Add dynamic variable
  azure-pipelines/frontend-web-deploy.yml
Due: none

debugging init
  azure-pipelines/frontend-web-deploy.yml
Due: none

froenend infra update
  azure-pipelines/frontend-infrastructure.yml
Due: none

webfiles
  azure-pipelines/frontend-web-deploy.yml
Due: none

Corrected tf front state key
  azure-pipelines/frontend-web-deploy.yml
Due: none

Amended the rest of ps commands
  azure-pipelines/frontend-web-deploy.yml
Due: none

Added security scanning
  azure-pipelines/frontend-web-deploy.yml
Due: none
